h1 {
  font-family: 'Sedgwick Ave', cursive;
}

/* Reglas para identificar los elementos en bloque y en linea*/
p {background-color: #78866B;}
span{background-color: #007BA7;}

table {
  text-align: center;
  border: 5px solid greenyellow
  /* border-left: 5px solid green; */
  /* border-right: 4px solid yellow; */
  /* border-top: 3px dashed pink; */
  /* border-bottom: 2px dotted blue; */
}

td, th{
  border: 2px solid black;
  padding: 15px;
}
