* {
  padding: 0;
  /* margin: 5px; */
  text-align: center;
}
body {
  background-color:blue;
}
.calculator {
  margin: auto;
  width: 750px;
  height: 650px;
  background-color: #c0c0c0;
  box-shadow: 0px 0px 0px 10px #700;
  border: 5px solid black;
  border-radius: 10px;
}
#display {
  width: 720px;
  height: 100px;
  text-align: right;
  background-color: black;
  border: 3px solid white;
  font-size: 50px;
  left: 2px;
  top: 2px;
  color: #7fff00;
}
.btnTop{
  color: white;
  background-color: #6f6f6f;
  font-size: 25px;
  margin: auto;
  width: 120px;
  height: 60px;
}
.btnNum {
  color: white;
  background-color: black;
  font-size: 25px;
  margin: auto;
  width: 120px;
  height: 60px;
}
.btnMath {
  color: white;
  background-color: #ff4561;
  font-size: 25px;
  margin: auto;
  width: 120px;
  height: 60px;
}
.btnOpps {
  color: white;
  background-color: #ff9933;
  font-size: 25px;
  margin: auto;
  width: 120px;
  height: 60px;
}
